<div class="auth">
	<div class="signin">
		<form class="signinForm">
	    <div>
	      <legend>Sign in to Letterer</legend>
	      <input type="text" placeholder="Email Address" name="email">
	      <input type="password" placeholder="Password" name="password">
	      <div class="buttons">
	        <button type="submit">Sign In</button>
	        <p>
		        Don't have an account? <br>
		        Sign up <a href="#">here</a>
		      </p>
	      </div>
	      
	    </div>
	  </form>
	</div>
</div>