<div class="auth">
	<div class="signup">
		<form class="signupForm">
	    <div>
	      <legend>Sign up for Letterer</legend>
	      <input type="text" placeholder="Email Address" name="email">
	      <input type="password" placeholder="Password" name="password">
	      <div class="buttons">
	        <button type="submit">Sign Up</button>
	        <p>
		        Already have an account? <br>
		        Sign in <a href="#">here</a>
		      </p>
	      </div>
	      
	    </div>
	  </form>
	</div>

</div>